* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 180px;
    height: 180px !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
    box-shadow: 0.5px 4.5px 7px rgb(208, 208, 208);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 20px;
}
.card:hover{
    transform : scale(0.8);
}
.card img {
    position: relative;
    width: 70px;
    margin: 20px 0;
}
.card p.department-name {
    position: relative;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 1px;
    color: rgb(31, 31, 31);
    font-size: 20px;
}